.appeal {
	font-weight: bold;
}

/* 2013-12-13 class .antiphon for antihpons */
/* for HU/CZ first/second/third-ant is used; for SK ant-first/second/third is used */
.antiphon.first-ant:before {
    color: #ff0000;
    content: '1. ant. ';
    font-weight: bold;
}

.antiphon.second-ant:before {
    color: #ff0000;
    content: '2. ant. ';
    font-weight: bold;
}

.antiphon.third-ant:before {
    color: #ff0000;
    content: '3. ant. ';
    font-weight: bold;
}

.antiphon.ant:before {
    color: #ff0000;
    content: 'Ant. ';
    font-weight: bold;
}

.antiphon.ant-first:before {
    color: #ff0000;
    content: 'Ant. 1 ';
    font-weight: bold;
}

.antiphon.ant-second:before {
    color: #ff0000;
    content: 'Ant. 2 ';
    font-weight: bold;
}

.antiphon.ant-third:before {
    color: #ff0000;
    content: 'Ant. 3 ';
    font-weight: bold;
}


/* 2013-11-03 class .respons for responsories */
.respons p { 
	font-weight: normal; 
}

.respons p.respR, p.respV, p.respO, p.respF { 
	font-weight: bold; 
	margin: 0; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}


/* for SK & LA, R/V is used; for CZ, O/V is used; for HU, V/F is used */
.respons p.respR:before { 
	color: #ff0000; 
	content: 'R. '; 
	font-weight: bold; 
}

.respons p.respV:before { 
	color: #ff0000; 
	content: 'V. '; 
	font-weight: bold; 
}

.respons p.respO:before { 
	color: #ff0000; 
	content: 'O. '; 
	font-weight: bold; 
}

.respons p.respF:before { 
	color: #ff0000; 
	content: 'F. '; 
	font-weight: bold; 
}

/* 2013-10-21 */
div.hymn, div.responsory, div.readings {
    font-weight: bold;
}

/* 2013-09-19 class for calendar */
.calendar { 
	padding: 4px 4px 4px 0; 
}

.calendar.heading { 
	border-bottom: 0px; 
	border-left: 1px; 
	border-right: 1px; 
	border-top: 0px; 
	display: inline; 
	font-weight: bold; 
	min-width: 22px; 
	padding: 4px 4px 0px 0; 
}

.calendar.day_name { 
	border-bottom: 0px; 
	border-left: 1px; 
	border-right: 1px; 
	border-top: 0px; 
	display: block; 
	font-style: italic; 
	min-width: 22px; 
	padding: 4px 4px 0px 0; 
}

.calendar.day { 
	border-bottom: 1px dotted; 
	border-left: 1px dotted; 
	border-right: 1px dotted; 
	border-top: 1px dotted; 
	display: block; 
	min-width: 22px; 
}

.calendar.today { 
	background-color: #1a1a1a; 
	border-bottom: 1px dotted; 
	border-left: 1px dotted; 
	border-right: 1px dotted; 
	border-top: 1px dotted; 
	color: #FFFFCC; 
	display: block; 
	min-width: 22px; 
}

/* 2013-09-09 class .preces for prayers and intercessions */
.preces  { 
	font-weight: bold; 
}

.preces p.partR, p.partV, p.intro { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 1.2em; 
	text-indent: -1.2em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.preces p.partR { 
	padding-top: 0.3em; 
}

.preces p.resp { 
	font-style: italic; 
	font-weight: normal; 
	margin: 0; 
	padding-bottom: 0.3em; 
	padding-left: 1.2em; 
	padding-top: 0.3em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.preces p.partV:before { 
	color: #ff0000; 
	content: '\2014\00a0'; 
	font-weight: normal; 
}

.preces p.vel { 
	color: #ff0000; 
	font-style: normal; 
	font-weight: normal; 
	margin: 0; 
}

/* 2013-09-02 #psalm changed to class .psalm; instead of black color used #1a1a1a; */
/* new 2013-06-19 */
.psalm .psalm-name { 
	color: #ff0000; 
	font-weight: bold; 
	padding-top: 1em; 
	text-align: center; 
}

.psalm .psalm-idea { 
	color: #1a1a1a; 
	font-weight: normal; 
	padding-top: 1em; 
	text-align: left; 
}

/* new 2013-06.16 / updated 2013-06-19 and 2013-06-24 */
.psalm p { 
	font-weight: normal; 
}

.psalm p.verse { 
	font-weight: bold; 
	margin:0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.psalm p.start { }

.psalm p.solo { 
	padding-bottom: 1em; 
}

.psalm p.cont { 
	text-indent: -1.2em; 
}

.psalm p.last { /* used with cont; rarely also with start */
	padding-bottom: 1em; 
}

.psalm p.first { 
	padding-top: 1em; 
}

.psalm p.last:after { /* &nbsp;&emdash; -- em dash at the end of stanza */
	color: #ff0000; 
	content: '\00a0\2014'; 
	font-weight: normal; 
}

/* new 2013-05-24 */
.psalm p.emptyline { 
	-webkit-margin-after: 1em; 
}

/* new 2013-05-19 */
/* added 2013-10-21: font-weight: normal; */
.hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { 
	color: #ff0000; 
	font-size: 80%; 
    font-weight: normal;
}

.antiphon { 
	font-weight: bold; 
	margin-bottom: 1em; 
	margin-top: 1em; 
}

/* new 2013-04-18 */
/* updated 2013-10-21 font-size:larger; -> font-size:normal; */
.psalm .psalm-title { 
	color: #ff0000; 
	font-size: normal;
	font-weight: bold; 
	text-align: center; 
}

.psalm .psalm-subtitle { 
	color: #ff0000; 
	font-weight: normal; 
	text-align: center; 
}

/* new 2013-04-02 */
#week-day .day-title { 
	font-size: larger; 
	font-weight: bold; 
	text-align: center; 
}

.evening-praise > .title, .daytime-praise > .title, .morning-praise > .title, .ending-praise > .title, .invit-praise > .title, .reading-praise > .title { 
	/*font-weight: bold;*/ 
	margin-top: 20px; 
	text-align: center; 
}

#week-day .title { 
	margin-top: 16px; 
	font-weight: bold; 
}

#week-day br { 
	clear: both; 
	display: block; 
	height: 1px; 
}

div.biblereference { 
	color: #ff0000; 
	text-align: right; 
}

.daytime-praise .time { 
	margin-top: 10px; 
	text-align: center; 
	text-decoration: underline; 
}

/* new 2014-01-16 */
#about h3 {
    font-weight: bold;
    font-size: 1.2em;
}

#about b {
    font-weight: bold !important;
}

/* replace 2013-02-17 */ 
.indent { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 20px; 
}

.indent15 { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 15px; 
}

/* apply to all elements, used for <span> (character style) and <div> (paragraph style), 2005-07-27 */
.red { 
	color: #ff0000; 
}

.rednormal { 
	color: #ff0000; 
	font-style: normal; 
	font-weight: normal; 
}

.redit { 
	color: #ff0000; 
	font-style: italic; 
}

.blue { 
	color: #0066ff; 
}

.redsmall { 
	color: #ff0000; 
	font-size: 80%; 
}

.redbold { 
	color: #ff0000; 
	font-weight: bold; 
}

.bluebold { 
	color: #0066ff; 
	font-weight: bold; 
}

.bold { 
	font-weight: bold; 
}

.boldit { 
	font-style: italic; 
	font-weight: bold; 
}

.it { 
	font-style: italic; 
}

.normal { 
	color: #1a1a1a; 
}

.tt { 
	font-family: Monospace; 
}

.parameter { 
	color: #1a1a1a; 
	font-family: Monospace; 
	font-style: normal; 
	font-weight: bold; 
}

.value { 
	color: brown; 
	font-family: Monospace; 
	font-style: normal; 
	font-weight: bold; 
}

.brown { 
	color: brown; 
}

.brownsmall { 
	color: brown; 
	font-size: 85%; 
}

.explain { 
	color: #330000; 
	font-size: 90%; 
}

.small { 
	font-size: 80%; 
}

.verysmall { 
	font-size: 60%; 
}

.smallcaps { 
	font-variant: small-caps; 
}

.xsmallcaps { 
	font-variant: small-caps; 
	font-size: 70%; 
}

/* 2003-07-09; 2004-03-23; 2008-02-27 */
/* apply to all elements */ 
{ 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: normal; 
}

body, html { 
	background-color: #FFFFCC;
	color: #1a1a1a;
	font-family: Cambria, Constantia, Georgia, Lido STF, DejaVu, Liberation, GentiumPlus, Gentium, Garamond, Serif;
	font-weight: normal; 
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

p { 
	color: #1a1a1a; 
	font-family: inherit; 
	font-style: normal; 
}

.duoraz { 
	font-weight: bold; 
}

p.patka { 
	font-size: 70%; 
	letter-spacing: 0mm; 
	text-align: center; 
	text-indent: 0em; 
}

/* inherit nefunguje v IE 7 */
a.quiet { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:link { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:hover { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:visited { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:active { 
	color: inherit; 
	text-decoration: none; 
}

a { 
	border-bottom: 1px dotted; 
	color: #1a1a1a; 
	font-family: inherit; 
	text-decoration: none; 
}

a:hover { 
	background-color: #663300; 
	border: none; 
	color: white; 
	text-decoration: none; 
}

a:active { 
	color: gray; 
	text-decoration: underline; 
}

a img { 
	border: none; 
}

a.explain { 
	color: #330000; 
	font-size: 100%; 
}

a.nounderline { 
	text-decoration: none; 
}

a.button { 
	background: #ffcc99; /* #ffcc66; Tan; Peru; BurlyWood; */
	border: solid 0px #1a1a1a; 
	color: #1a1a1a; 
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	margin-left: 0px!important;
	text-decoration: none; 
}

form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table { 
	color: #505000; 
}

tr.paragraph { 
	line-height: 120%; 
	text-indent: 3em; 
}

td { 
	color: #1a1a1a;
	font-family: inherit; 
	font-size: 95%; 
}

hr { 
	color: gray; 
	height: 0.2mm;
	size: 1px;
	width: 33%; 
}

select { 
	background: white; 
	color: #1a1a1a;
	font-family: inherit; 
}

input { 
	border: 1px; 
	color: #1a1a1a; 
	font-family: inherit; 
}

/* modlitby */
input.button, input.reset, .button { 
	background: #ffcc99; /* #ffcc66; Tan; Peru; BurlyWood; */
	border: solid 0px #1a1a1a; 
	color: #1a1a1a; 
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	margin-left: 0px !important;
	min-height: 20px;
	min-width: 70px;
	padding: 4px 4px;
	text-decoration: none; 
}

/* << >> */
input.button0, input.reset0, .button0 { 
	background: DimGray;
	border: solid 0px #1a1a1a; 
	color: White; 
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	margin-left: 0px !important;
	min-height: 20px;
	min-width: 70px;
	padding: 4px 4px;
	text-decoration: none; 
}

/* dnes */
input.button1, input.reset1, .button1 { 
	background: DimGray;
	border: solid 0px #1a1a1a; 
	color: White;
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	font-variant: none;
	font-weight: bold;
	min-height: 20px;
	min-width: 70px;
	margin-left: 0px !important;
	padding: 4px 4px;
	text-decoration: none; 
}

/* menej podstatné buttony */
input.button2, input.reset2, .button2 { 
	background: #cccc99;
	border: solid 0px #1a1a1a; 
	color: #1a1a1a; 
	cursor: pointer;
	font-family: inherit; 
	font-style: italic;
	min-height: 20px;
	min-width: 70px;
	margin-left: 0px !important;
	padding: 4px 4px;
	text-decoration: none; 
}

input.text { 
	background: white; 
	border-style: solid; 
}

input.radio { }

input.checkbox { }

ol.level1 { 
	list-style-type: decimal; 
}

ol.level2 { 
	list-style-type: lower-roman; 
}

ol.level3 { 
	list-style-type: decimal; 
}

ul.level0 { 
	list-style-type: none; 
}

ul.level1 { 
	list-style-type: disc; 
}

ul.level2 { 
	list-style-type: circle; 
}

ul.level3 { 
	list-style-type: square; 
}

li { 
	font-size: 95%; 
}

h1 { 
	font-size: 180%; 
}

h2 { 
	font-size: 150%; 
}

h3 { 
	font-size: 100%; 
}

h4 { 
	font-size: 100%; 
}

sup { 
	color: #ff0000; 
	font-size: 0.5em; 
	font-weight: normal; 
	position: relative; 
	top: -0.8em; 
	vertical-align: baseline; 
}

