/* override color settings for "night-mode" (inverted colors) */

/* WebKit/Blink Browsers */
::selection {
	background: #E5A6A4;
}
/* Gecko Browsers */
::-moz-selection {
	background: #E5A6A4;
}

.antiphon.first-ant:before {
	color: #FF3333;
}

.antiphon.second-ant:before {
	color: #FF3333;
}

.antiphon.third-ant:before {
	color: #FF3333;
}

.antiphon.ant:before {
	color: #FF3333;
}

.antiphon.ant-first:before {
	color: #FF3333;
}

.antiphon.ant-second:before {
	color: #FF3333;
}

.antiphon.ant-third:before {
	color: #FF3333;
}

.respons p.respR:before, .respR:before { 
	color: #FF3333;
}

.respons p.respS:before, .respS:before { 
	color: #FF3333;
}

.respons p.respV:before, .respV:before { 
	color: #FF3333;
}

.respons p.respO:before, .respO:before { 
	color: #FF3333;
}

.respons p.respF:before, .respF:before { 
	color: #FF3333;
}

.reading-source { 
	color: #FF3333;
}

.reading-title { 
	color: #FF3333;
}

.calendar.day {
	border: solid 1px #CCCCCC; 
	color: #AAAAAA; 
}

.calendar.day:hover {
	background-color: #C39482; /* button middle-dark */
	color: #000000; 
}

.calendar.today { 
	background-color: #CCCCCC; 
	border: solid 1px #CCCCCC; 
	color: #191919; /* #333333; */
}

.preces p.resprep:before { 
	color: #FF3333;
}

.preces p.resprep:after { 
	color: #FF3333;
}

.preces p.partV:before { 
	color: #FF3333;
}

.preces p.vel { 
	color: #FF3333;
}

.reading p.resp {
	color: #FF3333;
}

.hymn p.rubric, .hymn p.rubric-always-display { 
	color: #FF3333;
}

.psalm .psalm-name { 
	color: #FF3333;
}

.psalm .psalm-idea { 
	color: #CCCCCC; 
}

.psalm .psalm-title { 
	color: #FF3333;
}

.psalm .psalm-subtitle { 
	color: #FF3333;
}

.psalm p.last:after { 
	color: #FF3333;
}

p.bibleref {
	color: #FF3333;
}

.red, .redtitle { 
	color: #FF3333;
}

.rubric, .rubric-always-display { 
	color: #FF3333;
}

.rednormal { 
	color: #FF3333;
}

.redit { 
	color: #FF3333;
}

.redsmall, .redsubtitle { 
	color: #FF3333;
}

.redbold { 
	color: #FF3333;
}

.normal { 
	color: #CCCCCC; 
}

.parameter { 
	color: #CCCCCC; 
}

.value { 
	color: yellow; 
}

.explain { 
	color: gray; 
}

body, html { 
	background-color: #000;
	color: #CCCCCC;
}

p { 
	color: #CCCCCC; 
}

h1, h2, h3 { 
	color: #FFFFCC; 
}

a { 
	color: #CCCCCC; 
}

a:active { 
	color: gray; 
}

a.explain { 
	color: gray; 
}

table { 
	color: #CCCCCC; 
}

td { 
	color: #CCCCCC; 
}

hr { 
	color: gray; 
}

select { 
	background-color: #000;
	color: #CCCCCC; 
}

input { 
	color: #CCCCCC; 
}

/* buttons */
input.button, input.reset, .button, a.button, .button-prayer, input.button-prayer /* prayer buttons */
, input.button0, input.reset0, .button0, input.button1, input.reset1, .button1 /* << button0 >> + button1 for today */
, input.button2, input.reset2, .button2 { 
	background-color: transparent;
	border: solid 2px #CCCCCC; 
}

input.button, input.reset, .button, a.button, .button-prayer, input.button-prayer
, input.button2, input.reset2, .button2 { 
	color: #AAAAAA;
}

input.button:hover, input.reset:hover, .button:hover, a.button:hover, .button-prayer:hover, input.button-prayer:hover
, input.button0:hover, input.reset0:hover, .button0:hover, input.button1:hover, input.reset1:hover, .button1:hover
, input.button2:hover, input.reset2:hover, .button2:hover, a.button2:hover {
	color: #000000; 
}

input.text { 
	background-color: #000;
}

input.radio:before {
	background-color: #7A3E3B; /* button dark */
}

input.radio:checked:before {
	background-color: #DDDDDD;
	box-shadow: inset 0 0 0 5px #7A3E3B; /* button dark */
}

input.checkbox {
	background-color: #612821; /* button darker */
}

input.checkbox:checked {
	background-color: #C39482; /* button middle-dark */
}

input.checkbox:after {
	background-color: #DDDDDD; 
}

sup { 
	color: #FF3333;
}

#nav-arrow-down {
  background-image: url('sipkadole-night.png');
}

#nav-arrow-up {
  background-image: url('sipkahore-night.png');
}

/* side hamburger menu - sidebar, open and close buttons */
.sidebar {
	background: #222222;
}

.sidebar a {
	color: #999999;
}

.sidebar a:hover {
	color: #000;
}
a:hover.closebtn {
	background: #222222;
}

.openbtn {
	background-color: #000;
	color: #CCCCCC;
}
