.appeal {
	font-weight: bold;
}

/* for HU/CZ first/second/third-ant is used; for SK ant-first/second/third is used */
.antiphon.first-ant:before {
    color: #ff0000;
    content: '1. ant. ';
    font-weight: bold;
}

.antiphon.second-ant:before {
    color: #ff0000;
    content: '2. ant. ';
    font-weight: bold;
}

.antiphon.third-ant:before {
    color: #ff0000;
    content: '3. ant. ';
    font-weight: bold;
}

.antiphon.ant:before {
    color: #ff0000;
    content: 'Ant. ';
    font-weight: bold;
}

.antiphon.ant-first:before {
    color: #ff0000;
    content: 'Ant. 1 ';
    font-weight: bold;
}

.antiphon.ant-second:before {
    color: #ff0000;
    content: 'Ant. 2 ';
    font-weight: bold;
}

.antiphon.ant-third:before {
    color: #ff0000;
    content: 'Ant. 3 ';
    font-weight: bold;
}

.respons p { 
	font-weight: normal; 
}

.respons p.respR, .respons p.respV, .respons p.respO, .respons p.respF, p.respR, p.respV, p.respO, p.respF, .respR, .respV, .respO, .respF { 
	font-weight: bold; 
	margin: 0; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

/* for SK & LA, R/V is used; for CZ, O/V is used; for HU, V/F is used */
.respons p.respR:before, .respR:before { 
	color: #ff0000; 
	content: 'R. '; 
	font-weight: bold; 
}

.respons p.respV:before, .respV:before { 
	color: #ff0000; 
	content: 'V. '; 
	font-weight: bold; 
}

.respons p.respO:before, .respO:before { 
	color: #ff0000; 
	content: 'O. '; 
	font-weight: bold; 
}

.respons p.respF:before, .respF:before { 
	color: #ff0000; 
	content: 'F. '; 
	font-weight: bold; 
}

div.hymn, div.responsory, div.readings {
	font-weight: bold;
}

div.daily p {
	text-align: center;
}

div.nav p {
	text-align: center;
}

div.navd p {
	text-align: center;
}

div.navm p {
	text-align: center;
}

div.responsory {
	margin: 1em 0;
}

.reading-source { 
	color: #ff0000;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.reading-title { 
	color: #ff0000;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

.calendar { 
	padding: 2px; 
}

.calendar.heading { 
	border-bottom: 0px; 
	border-left: 1px; 
	border-right: 1px; 
	border-top: 0px; 
	/* display: inline; */
	font-weight: bold; 
	min-width: 22px; 
	text-align: right;
}

.calendar.day_name { 
	border-bottom: 0px; 
	border-left: 1px; 
	border-right: 1px; 
	border-top: 0px; 
	display: block; 
	font-style: italic; 
	min-width: 22px; 
	text-align: right;
}

.calendar.day { 
	border-bottom: 1px dotted; 
	border-left: 1px dotted; 
	border-right: 1px dotted; 
	border-top: 1px dotted; 
	display: block; 
	min-width: 22px; 
	text-align: right;
}

.calendar.today { 
	background-color: #1a1a1a; 
	border-bottom: 1px dotted; 
	border-left: 1px dotted; 
	border-right: 1px dotted; 
	border-top: 1px dotted; 
	color: #FFFFCC; 
	display: block; 
	min-width: 22px; 
	text-align: right;
}

.preces  { 
	font-weight: bold; 
}

.preces p.partR, p.partV, p.intro { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 1.2em; 
	text-indent: -1.2em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.preces p.partR { 
	padding-top: 0.3em; 
}

.preces p.resp { 
	font-style: italic; 
	font-weight: normal; 
	margin: 0; 
	padding-bottom: 0.3em; 
	padding-left: 1.2em; 
	padding-top: 0.3em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.preces p.partV:before { 
	color: #ff0000; 
	content: '\2014\00a0'; 
	font-weight: normal; 
}

.preces p.vel { 
	color: #ff0000; 
	font-style: normal; 
	font-weight: normal; 
	margin: 0; 
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.reading p { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 1.2em; 
	text-indent: -1.2em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.reading p.first { 
	padding-top: 1em; 
}

.reading p.cont { 
	text-indent: 0em; 
}

.reading p.par { 
	padding-left: 0em; 
	text-indent: 1.2em; 
}

.reading p.resp {
	color: #ff0000; 
	font-size: 80%;
	font-weight: normal;
	padding-bottom: 1em;
	padding-top: 1em;
}

.reading p.bibleref {
	padding-bottom: 1em;
	padding-top: 0em;
}

.reading p.respR, .reading p.respV, .reading p.respO, .reading p.respF { 
	padding-left: 0em; 
	text-indent: 0em; 
}

.reading p.heading { 
	padding-bottom: 1em;
	padding-left: 0em; 
	text-indent: 0em; 
}

.reading p.reading-source { 
	font-style: normal;
	font-weight: normal;
	padding-bottom: 1em;
	padding-left: 0em; 
	padding-top: 1em;
	text-align: center;
	text-indent: 0em; 
}

.reading p.reading-title { 
	font-weight: normal;
	padding-left: 0em; 
	text-align: center;
	text-indent: 0em; 
}

.reading .redsmall, .reading .redsubtitle { 
	font-weight: normal;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.hymn p { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.hymn p.cont { 
	text-indent: -1.2em; 
}

.hymn p.last {
	padding-bottom: 1em; 
}

.hymn p.first { 
	padding-top: 1em; 
}

.hymn p.comment { 
	font-size: 80%; 
	font-weight: normal; 
}

.hymn p.rubric, .hymn p.rubric-always-display { 
	color: #ff0000; 
	font-size: 80%; 
	font-weight: normal; 
}

.hymn p.rubric-first, .hymn p.rubric-first-always-display {
	color: #ff0000; 
	font-size: 80%;
	font-weight: normal;
	padding-top: 1em;
}

.psalm .psalm-name { 
	color: #ff0000; 
	font-weight: bold; 
	padding-top: 1em; 
	text-align: center; 
}

.psalm .psalm-idea { 
	color: #1a1a1a; 
	font-weight: normal; 
	padding-top: 1em; 
	text-align: left; 
}

.psalm .psalm-title { 
	color: #ff0000; 
	font-size: normal;
	font-weight: bold; 
	text-align: center; 
}

.psalm .psalm-subtitle { 
	color: #ff0000; 
	font-weight: normal; 
	text-align: center; 
}

.psalm .titlehu {
	color: #ff0000;
	font-size: 80%;
	font-weight: normal;
	margin-top: 1em;
}

.psalm p { 
	font-weight: normal; 
}

.psalm p.bold { 
	font-weight: bold; 
}

.psalm p.verse { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.psalm p.start { }

.psalm p.solo { 
	padding-bottom: 1em; 
}

.psalm p.cont { 
	text-indent: -1.2em; 
}

.psalm p.last { /* used with cont; rarely also with start */
	padding-bottom: 1em; 
}

.psalm p.first { 
	padding-top: 1em; 
}

.psalm p.last:after { /* &nbsp;&emdash; -- em dash at the end of stanza */
	color: #ff0000; 
	content: '\00a0\2014'; 
	font-weight: normal; 
}

.psalm p.emptyline { 
	-webkit-margin-after: 1em; 
}

p.title, .hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { 
	margin-top: 2em;
	color: #ff0000; 
	font-size: 80%; 
	font-weight: normal;
	/* text-align: left; */
}

.antiphon { 
	font-weight: bold; 
	margin-bottom: 1em; 
	margin-top: 1em; 
}

#week-day .day-title { 
	font-size: larger; 
	font-weight: bold; 
	text-align: center; 
}

.evening-praise > .prayer-title, .daytime-praise > .prayer-title, .morning-praise > .prayer-title, .ending-praise > .prayer-title, .invit-praise > .prayer-title, .reading-praise > .prayer-title { 
	/* font-weight: bold; */ 
	margin-top: 20px; 
	text-align: center; 
}

#week-day .title { 
	margin-top: 16px; 
	font-weight: bold; 
}

#week-day br { 
	clear: both; 
	display: block; 
	height: 1px; 
}

p.bibleref {
	color: #ff0000;
	font-weight: normal;
	text-align: right;
}

.daytime-praise .time { 
	margin-top: 10px; 
	text-align: center; 
	text-decoration: underline; 
}

#about h3 {
    font-weight: bold;
    font-size: 1.2em;
}

#about b {
    font-weight: bold !important;
}

.indent { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 20px; 
}

.indent15 { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 15px; 
}

.center {
	text-align: center;
}

.red, .redtitle { 
	color: #ff0000; 
}

.rubric, .rubric-always-display { 
	color: #ff0000; 
	font-size: 80%; 
	font-weight: normal; 
}

.rubric-first, .rubric-first-always-display {
	color: #ff0000; 
	font-size: 80%;
	font-weight: normal;
	padding-top: 1em;
}

.rednormal { 
	color: #ff0000; 
	font-style: normal; 
	font-weight: normal; 
}

.redit { 
	color: #ff0000; 
	font-style: italic; 
}

.redsmall, .redsubtitle { 
	color: #ff0000; 
	font-size: 80%; 
}

.redbold { 
	color: #ff0000; 
	font-weight: bold; 
}

.blue { 
	color: #0066ff; 
}

.bluebold { 
	color: #0066ff; 
	font-weight: bold; 
}

.bold { 
	font-weight: bold; 
}

.boldit { 
	font-style: italic; 
	font-weight: bold; 
}

.it { 
	font-style: italic; 
}

.normal { 
	color: #1a1a1a; 
}

.tt { 
	font-family: Monospace; 
}

.par { 
	font-weight: bold; 
}

.parameter { 
	color: #1a1a1a; 
	font-family: Monospace; 
	font-style: normal; 
	font-weight: bold; 
}

.strong { 
	font-weight: bold; 
}

.value { 
	color: brown; 
	font-family: Monospace; 
	font-style: normal; 
	font-weight: bold; 
}

.brown { 
	color: brown; 
}

.brownsmall { 
	color: brown; 
	font-size: 85%; 
}

.explain { 
	color: #330000; 
	font-size: 90%; 
}

.small { 
	font-size: 80%; 
}

.verysmall { 
	font-size: 60%; 
}

.smallcaps { 
	font-variant: small-caps; 
}

.xsmallcaps { 
	font-variant: small-caps; 
	font-size: 70%; 
}

/* apply to all elements */ 
{ 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: normal; 
}

body, html { 
	background-color: #FFFFCC;
	color: #1a1a1a;
	font-family: Cambria, Constantia, Georgia, Lido STF, DejaVu, Liberation, GentiumPlus, Gentium, Garamond, Serif;
	font-weight: normal; 
	line-height: 1.3;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

p { 
	color: #1a1a1a; 
	font-family: inherit; 
	font-style: normal; 
}

.duoraz { 
	font-weight: bold; 
}

p.patka { 
	font-size: 70%; 
	letter-spacing: 0mm; 
	text-align: center; 
	text-indent: 0em; 
}

a.quiet { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:link { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:hover { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:visited { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:active { 
	color: inherit; 
	text-decoration: none; 
}

a { 
	border-bottom: 1px dotted; 
	color: #1a1a1a; 
	font-family: inherit; 
	text-decoration: none; 
}

a:hover { 
	background-color: #663300; 
	border: none; 
	color: white; 
	text-decoration: none; 
}

a:active { 
	color: gray; 
	text-decoration: underline; 
}

a img { 
	border: none; 
}

a.explain { 
	color: #330000; 
	font-size: 100%; 
}

a.nounderline { 
	text-decoration: none; 
}

a.button { 
	background: #ffcc99; /* #ffcc66; Tan; Peru; BurlyWood; */
	border: solid 0px #1a1a1a; 
	color: #1a1a1a; 
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	margin-left: 0px!important;
	text-decoration: none; 
}

form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table { 
	color: #505000; 
}

tr.paragraph { 
	line-height: 120%; 
	text-indent: 3em; 
}

td { 
	color: #1a1a1a;
	font-family: inherit; 
	font-size: 95%; 
}

hr { 
	color: gray; 
	height: 0.2mm;
	size: 1px;
	width: 33%; 
}

select { 
	background: white; 
	color: #1a1a1a;
	font-family: inherit; 
}

input { 
	border: 1px; 
	color: #1a1a1a; 
	font-family: inherit; 
}

/* prayer buttons */
input.button, input.reset, .button { 
	background: #ffcc99; /* #ffcc66; Tan; Peru; BurlyWood; */
	border: solid 0px #1a1a1a; 
	color: #1a1a1a; 
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	margin-left: 0px !important;
	min-height: 20px;
	min-width: 80px;
	padding: 4px 4px;
	text-decoration: none; 
}

/* << >> */
input.button0, input.reset0, .button0 { 
	background: DimGray;
	border: solid 0px #1a1a1a; 
	color: White; 
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	margin-left: 0px !important;
	min-height: 20px;
	min-width: 80px;
	padding: 4px 4px;
	text-decoration: none; 
}

/* button for today */
input.button1, input.reset1, .button1 { 
	background: DimGray;
	border: solid 0px #1a1a1a; 
	color: White;
	cursor: pointer;
	font-family: inherit; 
	font-style: normal;
	font-variant: none;
	font-weight: bold;
	min-height: 20px;
	min-width: 80px;
	margin-left: 0px !important;
	padding: 4px 4px;
	text-decoration: none; 
}

/* less important buttons */
input.button2, input.reset2, .button2 { 
	background: #cccc99;
	border: solid 0px #1a1a1a; 
	color: #1a1a1a; 
	cursor: pointer;
	font-family: inherit; 
	font-style: italic;
	min-height: 20px;
	min-width: 80px;
	margin-left: 0px !important;
	padding: 4px 4px;
	text-decoration: none; 
}

input.text { 
	background: white; 
	border-style: solid; 
}

input.radio { }

input.checkbox { }

ol.level1 { 
	list-style-type: decimal; 
}

ol.level2 { 
	list-style-type: lower-roman; 
}

ol.level3 { 
	list-style-type: decimal; 
}

ul.level0 { 
	list-style-type: none; 
}

ul.level1 { 
	list-style-type: disc; 
}

ul.level2 { 
	list-style-type: circle; 
}

ul.level3 { 
	list-style-type: square; 
}

li { 
	font-size: 95%; 
}

h1 { 
	font-size: 180%; 
	text-align: center;
}

h2 { 
	font-size: 150%; 
	text-align: center;
}

h3 { 
	font-size: 100%; 
	text-align: center;
}

h4 { 
	font-size: 100%; 
	text-align: center;
}

sup { 
	color: #ff0000; 
	font-size: 0.5em; 
	font-weight: normal; 
	position: relative; 
	top: -0.8em; 
	vertical-align: baseline; 
}

.table
{
	/* background: yellow; testing only */
	border-collapse: collapse;
	display: table;
	margin: 0 auto; /* centered */
}

.table-left
{
	/* background: yellow; testing only */
	border-collapse: collapse;
	display: table;
	margin-right: auto; /* left aligned */
}

.table-caption
{
	/* background: yellow; testing only */
	display: table-caption;
	margin: 0 auto; /* centered */
	text-align: center;
}

.table-row
{
	display: table-row;
}

.table-cell
{
	display: table-cell;
	margin: 0 auto;
	padding: 1px; /* all four paddings */
}

.table-cell-valign-top
{
	display: table-cell;
	margin: 0 auto;
	padding: 1px; /* all four paddings */
	vertical-align: top;
}

.table-cell-bordered {
	display: table-cell;
	border: 1px solid black;
	padding: 2px; /* all four paddings */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.inline {
	display: inline;
}

.hidden {
    display: none;
}
