/* 2013-09-09 class .preces for prayers and intercessions */
.preces p { font-weight: normal; }
.preces p.partR, p.partV, p.intro { text-indent: -1.2em; padding-left: 1.2em; margin:0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; font-weight: bold; }
.preces p.resp { padding-left: 1.2em; margin:0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; font-weight: normal; font-style: italic; }
.preces p.partV:before { content: '\2014\00a0'; color: #FF3333; font-weight: normal; }
.preces p.first { padding-bottom: 1em; }

/* 2013-09-02 #psalm changed to class .psalm */
.psalm .psalm-name { text-align: center; font-weight: bold; color: #FF3333; }
.psalm .psalm-idea { padding-top: 1em; text-align: left; font-weight: normal; color: #CCCCCC; }

/* new 2013-06.16 / updated 2013-06-19 and 2013-06-24 */
.psalm p { font-weight: normal; }
.psalm p.verse { text-indent: -2.4em; padding-left: 2.4em; margin:0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; font-weight: bold; }
.psalm p.start { }
.psalm p.cont { text-indent: -1.2em; }
.psalm p.last { padding-bottom: 1em; } /* used with cont; rarely also with start */
.psalm p.first { padding-top: 1em; }

p.last:after { content: '\00a0\2014'; color: #FF3333; font-weight: normal; } /* &nbsp;&emdash; -- em dash at the end of stanza */

/* new 2013-05-24 */
.psalm p.emptyline { -webkit-margin-after: 1em; }

/* new 2013-05-19 */
.hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { color: #FF3333; font-size: 80%; }
.antiphon { font-weight: bold; margin-top: 1em; margin-bottom: 1em; }

/* new 2013-04-18 */
.psalm .psalm-title {text-align: center; font-weight: bold; color: #FF3333; font-size: larger; }
.psalm .psalm-subtitle {text-align: center; color: #FF3333; }

/* new 2013-04-02 */
#week-day .day-title {font-weight: bold; font-size: larger; text-align: center;}
.evening-praise > .title, .daytime-praise > .title, .morning-praise > .title, .ending-praise > .title, .invit-praise > .title, .reading-praise > .title  {text-align:  center; /*font-weight: bold;*/ margin-top: 20px;}  
#week-day .title {font-weight: bold; margin-top: 16px;}
#week-day br {clear: both; display: block; height: 1px;}
div.biblereference {color: #FF3333; text-align: right;}
.daytime-praise .time {text-align: center; margin-top: 10px; text-decoration: underline}
/* replace 2013-02-17 */ 
.indent {width: 20px; display:inline; float: left; height: 1em}
.indent15 {width: 15px; display:inline; float: left; height: 1em}

/* apply to all elements, used for <span> (character style) and <div> (paragraph style) */
.red { color: #FF3333; }
.redit { color: #FF3333; font-style: italic; }
.blue { color: #0066ff; }
.redsmall { color: #FF3333; font-size: 80%; }
.redbold { color: #FF3333; font-weight: bold; }
.bluebold { color: #0066ff; font-weight: bold; }
.bold { font-weight: bold; }
.boldit { font-weight: bold; font-style: italic; }
.it { font-style: italic; }
.normal { color: #CCCCCC; }
.tt { font-family: Monospace; }
.parameter { font-weight: bold; font-style: normal; font-family: Monospace; color: #CCCCCC; }
.value { font-weight: bold; font-style: normal; font-family: Monospace; color: yellow; }
.explain { font-size: 90%; color: gray; }
.small { font-size: 80%; }
.verysmall { font-size: 60%; }
.smallcaps { font-variant: small-caps; }
.xsmallcaps { font-variant: small-caps; font-size: 70%; }

/* apply to all elements */ { font-family: inherit; font-size: 100%; }
body, html { 
	background-color: #333333;
	color: #CCCCCC;
	font-family: Cambria, Constantia, Georgia, Lido STF, DejaVu, Liberation, GentiumPlus, Gentium, Garamond, Serif;
}
p { font-family: inherit; color: #CCCCCC; font-style: normal; }


.duoraz { 
	font-weight: bold; }

p.patka { 
	font-size: 80%; 
	text-align: center; 
	text-indent: 0em; 
	margin-top: -1mm; 
	letter-spacing: 0mm }

/* inherit nefunguje v IE 7 */
a.quiet { text-decoration:none; color: inherit; }
a.quiet:link { text-decoration:none; color: inherit; }
a.quiet:hover { text-decoration:none; color: inherit; }
a.quiet:visited { text-decoration:none; color: inherit; }
a.quiet:active { text-decoration:none; color: inherit; }

a { font-family: inherit; color: #CCCCCC; text-decoration: none; border-bottom: 1px dotted; }
a:hover { color: white; background-color: #ff6633; text-decoration: none; border: none; }
a:active { color: gray; text-decoration: underline; }
a img { border: none }
a.explain { color: #330000; font-size: 100%; }
a.nounderline { text-decoration:none; }
a.button { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #CC9966; /* #ff9933; #ffcc66; Tan; Peru; BurlyWood; */
	font-family: inherit; 
	font-size : 90%; 
	font-style: normal;
	text-decoration: none; 
	color: #333333; 
	border: solid 0px #CCCCCC; }

table { color: #CCCCCC; }
tr.paragraph { text-indent: 3em; line-height: 120%; }
td { font-family: inherit; font-size: 95%; color: #CCCCCC; }

hr {	height: 0.2mm;
	size: 1px;
	width: 33%; 
	color: gray; }

select { background: #333333; font-family: inherit; font-size : 95%; color: #CCCCCC; }

input { border: 1px; font-family: inherit; font-size : 95%; color: #CCCCCC; }

/* modlitby */
input.button, input.reset { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #CC9966; /* #ff9933; #ffcc66; Tan; Peru; BurlyWood; */
	font-family: inherit; 
	font-size : 90%; 
	font-style: normal;
	text-decoration: none; 
	color: #333333; 
	border: solid 0px #CCCCCC; }

/* << >> */
input.button0, input.reset0 { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #C0C0C0; /* #3366CC; #3399ff; */
	font-family: inherit; 
	font-size : 85%; 
	font-style: normal;
	text-decoration: none; 
	color: #404040;
	border: solid 0px #A0A0A0; }

/* dnes */
input.button1, input.reset1 { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #C0C0C0; /* #3366CC; #3399ff; */
	font-family: inherit; 
	font-size : 85%; 
	font-style: normal;
	font-weight: bold;
	font-variant: none;
	text-decoration: none; 
	color: #404040;
	border: solid 0px #A0A0A0; }

/* menej podstatné buttony */
input.button2, input.reset2 { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #CC9966; /* #ff9933; */
	font-family: inherit; 
	font-size : 90%; 
	font-style: italic;
	text-decoration: none; 
	color: #333333;
	border: solid 0px #CCCCCC; }

input.text { border-style: solid; background: #333333; }

input.radio { }
input.checkbox { }

ol.level1 { list-style-type: decimal; }
ol.level2 { list-style-type: lower-roman; }
ol.level3 { list-style-type: decimal; }
ul.level0 { list-style-type: none; }
ul.level1 { list-style-type: disc; }
ul.level2 { list-style-type: circle; }
ul.level3 { list-style-type: square; }

li { font-size: 95%; }

h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 100%; }
h4 { font-size: 100%; }

sup { vertical-align: baseline; font-size: 0.5em; position: relative; top: -0.8em; color: #FF3333; font-weight: normal; }
