/* WebKit/Blink Browsers */
::selection {
	background: #C39482; /* button middle-dark */
}
/* Gecko Browsers */
::-moz-selection {
	background: #C39482; /* button middle-dark */
}

.comment, p.comment { 
	font-size: 80%; 
	font-weight: normal; 
	padding-left: 1.2em !important;
	padding-bottom: 1em; 
	padding-top: 1em; 
}

.hymn p.comment { 
	font-size: 80%; 
	font-weight: normal; 
	padding-left: -1.2em; 
	text-indent: 0; 
}

.textnote, p.textnote, .hymn p.textnote { 
	font-size: 80%; 
	font-weight: normal; 
}

/* for HU/CZ first/second/third-ant is used; for SK ant-first/second/third is used */
.antiphon.first-ant:before {
	color: #ff0000;
	content: '1. ant. ';
	font-weight: bold;
}

.antiphon.second-ant:before {
	color: #ff0000;
	content: '2. ant. ';
	font-weight: bold;
}

.antiphon.third-ant:before {
	color: #ff0000;
	content: '3. ant. ';
	font-weight: bold;
}

.antiphon.ant:before {
	color: #ff0000;
	content: 'Ant. ';
	font-weight: bold;
}

.antiphon.ant-first:before {
	color: #ff0000;
	content: 'Ant. 1 ';
	font-weight: bold;
}

.antiphon.ant-second:before {
	color: #ff0000;
	content: 'Ant. 2 ';
	font-weight: bold;
}

.antiphon.ant-third:before {
	color: #ff0000;
	content: 'Ant. 3 ';
	font-weight: bold;
}

.respons p { 
	font-weight: normal; 
}

.respons p.strong, .respons p strong { 
	font-weight: bold; 
}

.respons p.respR, .respons p.respS, .respons p.respV, .respons p.respO, .respons p.respF, p.respR, p.respS, p.respV, p.respO, p.respF, .respR, .respS, .respV, .respO, .respF { 
	font-weight: bold; 
	margin: 0; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

/* for SK & LA, V/R is used; for CZ, V/O is used; for HU, V/F is used; for IS, V/S is used */
.respons p.respR:before, .respR:before { 
	color: #ff0000; 
	content: 'R. '; 
	font-weight: bold; 
}

.respons p.respS:before, .respS:before { 
	color: #ff0000; 
	content: 'S. '; 
	font-weight: bold; 
}

.respons p.respV:before, .respV:before { 
	color: #ff0000; 
	content: 'V. '; 
	font-weight: bold; 
}

.respons p.respO:before, .respO:before { 
	color: #ff0000; 
	content: 'O. '; 
	font-weight: bold; 
}

.respons p.respF:before, .respF:before { 
	color: #ff0000; 
	content: 'F. '; 
	font-weight: bold; 
}

.respons .redsmall { 
	font-weight: normal;
}

div.hymn {
	font-weight: bold;
}

div.daily p {
	text-align: center;
}

div.nav p {
	text-align: center;
}

div.navd p {
	text-align: center;
}

div.navm p {
	text-align: center;
}

.reading-source { 
	color: #ff0000;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.reading-title { 
	color: #ff0000;
	font-style: italic;
	font-weight: normal !important;
	text-align: center;
}

.calendar { 
	padding: 3px; 
}

.calendar.heading { 
	display: inline;
	font-weight: bold; 
	min-width: 22px; 
	text-align: right;
}

.calendar.day_name { 
	display: block; 
	font-style: italic; 
	min-width: 22px; 
	text-align: right;
}

.calendar.day { 
	background-color: transparent;
	border: solid 1px #1a1a1a; 
	display: block; 
	min-width: 22px; 
	padding: 4px 4px;
	text-align: right;
	text-decoration: none; 
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform;
}

.calendar.day:hover {
	background-color: #C39482; /* button middle-dark */
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 16px;
	transform: translateY(-2px);
}

.calendar.today { 
	background-color: #1a1a1a; 
	border: solid 1px #1a1a1a; 
	color: #FFFFFF; 
	display: block; 
	min-width: 22px; 
	padding: 4px 4px;
	text-align: right;
}

.preces  { 
	font-weight: bold; 
}

.preces p.partR, .preces p.partV, .preces p.intro { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 1.2em; 
	text-indent: -1.2em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.preces p.partR.comment, .preces p.partV.comment, .preces p.intro.comment { 
	font-weight: normal; 
	text-indent: 0em; 
}

.preces p.partR { 
	padding-top: 0.3em; 
}

.preces p.resp, .preces p.resprep { 
	font-style: italic; 
	font-weight: normal; 
	margin: 0; 
	padding-bottom: 0.3em; 
	padding-left: 1.2em; 
	padding-top: 0.3em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.preces p.resprep:before { 
	color: #ff0000; 
	content: '('; 
	font-weight: normal; 
}

.preces p.resprep:after { 
	color: #ff0000; 
	content: ')'; 
	font-weight: normal; 
}

.preces p.partV:before { 
	color: #ff0000; 
	content: '\2014\00a0'; 
	font-weight: normal; 
}

.preces p.vel { 
	color: #ff0000; 
	font-style: normal; 
	font-weight: normal; 
	margin: 0; 
}

.preces .redsmall { 
	font-weight: normal;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.reading p { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 1.2em; 
	text-indent: -1.2em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.reading p.section { 
	padding-top: 1em; 
}

.reading p.cont { 
	text-indent: 0em; 
}

.reading p.par { 
	padding-left: 0em; 
	text-indent: 1.2em; 
}

.reading p.last {
	padding-bottom: 1em; 
}

.reading p.resp {
	color: #ff0000; 
	font-size: 80%;
	font-weight: normal;
	padding-bottom: 1em;
	padding-top: 1em;
}

.reading p.bibleref {
	padding-bottom: 1em;
	padding-top: 0em;
}

.reading p.respR, .reading p.respS, .reading p.respV, .reading p.respO, .reading p.respF { 
	padding-left: 0em; 
	text-indent: 0em; 
}

.reading .comment, .reading p.comment { 
	font-weight: normal; 
	padding-left: 0em !important;
	text-indent: 0em; 
}

.reading p.respR.comment, .reading p.respS.comment, .reading p.respV.comment, .reading p.respO.comment , .reading p.respF.comment { 
	font-weight: normal; 
	padding-left: 0em !important;
}

.reading p.heading { 
	padding-bottom: 1em;
	padding-left: 0em; 
	padding-top: 1em;
	text-indent: 0em; 
}

.reading p.reading-source { 
	font-style: normal;
	font-weight: normal;
	padding-bottom: 1em;
	padding-left: 0em; 
	padding-top: 1em;
	text-align: center;
	text-indent: 0em; 
}

.reading p.reading-title { 
	font-weight: normal;
	padding-left: 0em; 
	text-align: center;
	text-indent: 0em; 
}

.reading .redsmall, .reading .redsubtitle { 
	font-weight: normal;
}

.reading p.footnotes { 
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	padding-left: 0em; 
	padding-top: 0.5em;
	text-indent: 0em; 
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.hymn p { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.hymn p.cont { 
	text-indent: -1.2em; 
}

.hymn p.cont2 { 
	text-indent: 0em; 
}

.hymn p.cont3 { 
	text-indent: 1.2em; 
}

.hymn p.last {
	padding-bottom: 1em; 
}

.hymn p.first { 
	padding-top: 1em; 
}

.hymn p.rubric, .hymn p.rubric-always-display { 
	color: #ff0000; 
	font-size: 80%; 
	font-weight: normal; 
	padding-top: 1em;
}

.psalm .psalm-name { 
	color: #ff0000; 
	font-weight: bold; 
	padding-top: 1em; 
	text-align: center; 
}

.psalm .psalm-idea { 
	color: #1a1a1a; 
	font-weight: normal; 
	padding-top: 1em; 
	text-align: left; 
}

.psalm .psalm-title { 
	color: #ff0000; 
	font-size: normal;
	font-weight: bold; 
	text-align: center; 
}

.psalm .psalm-subtitle { 
	color: #ff0000; 
	font-weight: normal; 
	text-align: center; 
}

.psalm p.bold, .psalm p.strong { 
	font-weight: bold; 
}

.psalm p.verse { 
	font-weight: bold; 
	margin: 0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
	-webkit-margin-after: 0em; 
	-webkit-margin-before: 0em; 
}

.psalm p.start { }

.psalm p.solo { 
	padding-bottom: 1em; 
}

.psalm p.cont { 
	text-indent: -1.2em; 
}

.psalm p.last { /* used with cont; rarely also with start */
	padding-bottom: 1em; 
}

.psalm p.first { 
	padding-top: 1em; 
}

.psalm p.last:after { /* &nbsp;&emdash; -- em dash at the end of stanza */
	color: #ff0000; 
	content: '\00a0\2014'; 
	font-weight: normal; 
}

.psalm p.emptyline { 
	-webkit-margin-after: 1em; 
}

.antiphon { 
	font-weight: bold; 
	margin-bottom: 1em; 
	margin-top: 1em; 
}

#week-day .day-title { 
	font-size: larger; 
	font-weight: bold; 
	text-align: center; 
}

.prayer-title { 
	margin-top: 20px; 
	text-align: center; 
}

#week-day .title { 
	margin-top: 16px; 
	font-weight: bold; 
}

#week-day br { 
	clear: both; 
	display: block; 
	height: 1px; 
}

p.bibleref {
	color: #ff0000;
	font-weight: normal;
	text-align: right;
}

.daytime-praise .time { 
	margin-top: 10px; 
	text-align: center; 
	text-decoration: underline; 
}

#about h3 {
	font-weight: bold;
	font-size: 1.2em;
}

#about b {
	font-weight: bold !important;
}

.indent { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 20px; 
}

.indent15 { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 15px; 
}

.center {
	text-align: center;
}

.left { 
	text-align: left;
}

.right { 
	text-align: right;
}

.red, .redtitle { 
	color: #ff0000; 
}

.rubric, .rubric-always-display { 
	color: #ff0000; 
	font-size: 80%; 
	font-weight: normal !important;
	padding-top: 1em;
}

.rednormal { 
	color: #ff0000; 
	font-style: normal; 
	font-weight: normal; 
}

.redit { 
	color: #ff0000; 
	font-style: italic; 
}

.redsmall, .redsubtitle { 
	color: #ff0000; 
	font-size: 80%; 
}

.redbold { 
	color: #ff0000; 
	font-weight: bold; 
}

.blue { 
	color: #2277dd; 
}

.bluebold { 
	color: #2277dd; 
	font-weight: bold; 
}

.bold { 
	font-weight: bold; 
}

.boldit { 
	font-style: italic; 
	font-weight: bold; 
}

.it { 
	font-style: italic; 
}

.normal { 
	color: #1a1a1a; 
}

.tt { 
	font-family: Monospace; 
}

.par { 
	font-weight: bold; 
}

.parameter { 
	color: #1a1a1a; 
	font-family: Monospace; 
	font-style: normal; 
	font-weight: bold; 
}

.strong { 
	font-weight: bold; 
}

.value { 
	color: brown; 
	font-family: Monospace; 
	font-style: normal; 
	font-weight: bold; 
}

.brown { 
	color: brown; 
}

.brownsmall { 
	color: brown; 
	font-size: 85%; 
}

.explain { 
	color: #330000; 
	font-size: 90%; 
}

.small { 
	font-size: 80%; 
}

.verysmall { 
	font-size: 60%; 
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.smallcaps { 
	font-variant: small-caps; 
}

.xsmallcaps { 
	font-variant: small-caps; 
	font-size: 70%; 
}

/* apply to all elements */ 
{ 
	font-family: inherit; 
	font-size: 18pt; 
	font-weight: normal; 
}

body, html { 
	background-color: #FFFFFF;
	color: #1a1a1a;
	font-family: Cambria, Constantia, Georgia, Lido STF, "DejaVu Serif", Liberation, GentiumPlus, Gentium, Garamond, serif;
	font-size: 18pt; 
	font-weight: normal; 
	line-height: 1.3;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

p { 
	color: #1a1a1a; 
	font-family: inherit; 
	font-style: normal; 
}

.duoraz { 
	font-weight: bold; 
}

p.patka { 
	font-size: 70%; 
	letter-spacing: 0mm; 
	text-align: center; 
	text-indent: 0em; 
}

/* really quiet hyperlink without dotted underlining */
.without-border { 
	border: 0px; 
}

a.quiet { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:link { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:hover { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:visited { 
	color: inherit; 
	text-decoration: none; 
}

a.quiet:active { 
	color: inherit; 
	text-decoration: none; 
}

a { 
	border-bottom: 1px dotted; 
	color: #1a1a1a; 
	font-family: inherit; 
	font-size: inherit; 
	text-decoration: none; 
}

a:hover { 
	background-color: #C39482; /* button middle-dark */
	border: none; 
	color: white; 
	text-decoration: none; 
}

a:active { 
	color: gray; 
	text-decoration: underline; 
}

a img { 
	border: none; 
}

a.explain { 
	color: #330000; 
	font-size: 100%; 
}

a.nounderline { 
	text-decoration: none; 
}

form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table { 
	color: #505000; 
}

tr.paragraph { 
	line-height: 120%; 
	text-indent: 3em; 
}

td { 
	color: #1a1a1a;
	font-family: inherit; 
	font-size: 95%; 
}

hr { 
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: auto;
	padding: 0; 
	width: 33%; 
}

hr.red { 
	border-top: 1px solid #f00;
}

select { 
	background-color: #FFFFFF;
	color: #1a1a1a;
	font-family: inherit; 
	margin: 4px;
}

input { 
	border: 1px; 
	color: #1a1a1a; 
	font-family: inherit; 
	font-size: inherit; 
}

/* buttons */
input.button, input.reset, .button, a.button, .button-prayer, input.button-prayer /* prayer buttons */
, input.button0, input.reset0, .button0, input.button1, input.reset1, .button1 /* << button0 >> + button1 for today */
, input.button2, input.reset2, .button2 { 
	background-color: transparent;
	border: solid 2px #1a1a1a; 
	/* border-radius: 10px; */
	box-sizing: border-box;
	cursor: pointer;
	font-family: inherit; 
	font-size: inherit; 
	font-style: normal;
	line-height: normal;
	margin-left: 0px !important;
	min-height: 20px;
	min-width: 76px;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none; 
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
}

input.button, input.reset, .button, a.button, .button-prayer, input.button-prayer
, input.button2, input.reset2, .button2 { 
	color: #1a1a1a; 
}

input.button, input.reset, .button, a.button
, input.button1, input.reset1, .button1
, input.button2, input.reset2, .button2  {
	width: auto;
}

input.button:hover, input.reset:hover, .button:hover, a.button:hover, .button-prayer:hover, input.button-prayer:hover
, input.button0:hover, input.reset0:hover, .button0:hover, input.button1:hover, input.reset1:hover, .button1:hover
, input.button2:hover, input.reset2:hover, .button2:hover, a.button2:hover {
	background-color: #C39482; /* button middle-dark */
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 16px;
	transform: translateY(-2px);
}

input.button:active, input.reset:active, .button:active, a.button:active, .button-prayer:active, input.button-prayer:active {
	background-color: transparent;
	box-shadow: none;
	transform: translateY(0);
}

/* button1 for today */
input.button1, input.reset1, .button1 { 
	font-variant: none;
	font-weight: bold;
}

/* less important buttons */
input.button2, input.reset2, .button2 { 
	font-family: inherit; 
	font-style: italic;
	margin-left: 0px !important;
}

input.text { 
	background-color: #FFFFFF;
	border-style: solid; 
}

input.radio { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input.radio:before {
	content: '';
	background-color: #F3E4C4; /* button light */
	border-radius: 100%;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

input.radio:checked:before {
	background-color: #7A3E3B; /* button dark */
	box-shadow: inset 0 0 0 5px #F3E4C4; /* button light */
}

input.radio:focus {
	outline: none;
}

input.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #F3E4C4; /* button light */
	border-radius: 3em;
	cursor: pointer;
	width: 2.7em;
	height: 1.4em;
	margin: 7px 5px -5px 5px;
	position: relative;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input.checkbox:checked {
	background: #7A3E3B; /* button dark */
}

input.checkbox:after {
	position: absolute;
	content: '';
	width: 1.4em;
	height: 1.4em;
	border-radius: 50%;
	background-color: white;
	-webkit-transform: scale(.7);
	transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input.checkbox:checked:after {
	left: calc(100% - 1.4em);
}

ol.level1 { 
	list-style-type: decimal; 
}

ol.level2 { 
	list-style-type: lower-roman; 
}

ol.level3 { 
	list-style-type: decimal; 
}

ul.level0 { 
	list-style-type: none; 
}

ul.level1 { 
	list-style-type: disc; 
}

ul.level2 { 
	list-style-type: circle; 
}

ul.level3 { 
	list-style-type: square; 
}

li { 
	font-size: 95%; 
}

h1 { 
	font-size: 180%; 
	text-align: center;
}

h2 { 
	font-size: 150%; 
	text-align: center;
}

h3 { 
	font-size: 100%; 
	text-align: center;
}

h4 { 
	font-size: 100%; 
	text-align: center;
}

sup { 
	color: #ff0000; 
	font-size: 0.5em; 
	font-weight: normal; 
	position: relative; 
	top: -0.8em; 
	vertical-align: baseline; 
}

.table
{
	border-collapse: collapse;
	display: table;
	margin: 0 auto; /* centered */
}

.table-left
{
	border-collapse: collapse;
	display: table;
	margin-right: auto; /* left aligned */
}

.table-caption
{
	display: table-caption;
	margin: 0 auto; /* centered */
	text-align: center;
}

.table-row
{
	display: table-row;
}

.table-cell
{
	display: table-cell;
	margin: 0 auto;
	padding: 3px; /* all four paddings */
}

.table-cell-3-columns
{
	display: table-cell;
	margin: 0 auto;
	padding: 3px; /* all four paddings */
	width: 33%;
}

.table-cell-valign-top
{
	display: table-cell;
	margin: 0 auto;
	padding: 3px; /* all four paddings */
	vertical-align: top;
}

.table-cell-bordered {
	display: table-cell;
	border: 1px solid black;
	padding: 4px; /* all four paddings */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.inline {
	display: inline;
}

.hidden {
	display: none;
}

.tts_section {
	display: none;
}

.tts_pause, .tts_pause_short {
	display: inline;
}

.psalm-indent, .psalm-indent p.verse {
	display: block;
	font-size: 95%; 
	font-weight: normal; 
	padding-left: 2.4em;
}

.psalm-indent p.last:after {
	content: none; 
}

/* always use bold font - no override by breviar-normal-font.css */
.strong-always { 
	font-weight: bold !important;
}

p.strong-always, h3.strong-always { 
	font-weight: bold !important;
}

.nav-arrow-right, .nav-arrow-left {
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	width: 4em;
	height: 2.4em;
	position: fixed;
}

.nav-arrow-right {
	right: 0.3em;
}

.nav-arrow-left {
	left: 0.3em;
}

#nav-arrow-down {
	background-image: url('sipkadole.png');
	bottom: 0.3em;
}

#nav-arrow-up {
	background-image: url('sipkahore.png');
	top: 0.3em;
}

#contentRoot {
	z-index: 0;
}

/* side hamburger menu - sidebar, open and close buttons */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #6F3028; /* logo background darker */
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 64px;
}

.sidebar a {
	padding: 8px 8px 8px 24px;
	text-decoration: none;
	font-size: 120%;
	color: #dddddd;
	display: block;
	transition: 0.3s;
	border-bottom: none; 
}

.sidebar a:hover {
	color: #eeeeee;
}

.sidebar p {
	padding: 0 8px 0 24px;
	color: #dddddd;
}

.sidebar p.small {
	font-size: 70%; 
}

.sidebar .closebtn {
	font-size: 180%;
	padding: 0px 8px 0px 8px;
	position: absolute;
	top: 0;
	right: 25px;
}

a:hover.closebtn {
	background-color: #6F3028; /* logo background darker */
}

.openbtn {
	font-size: 100%;
	cursor: pointer;
	background-color:  rgba(255,255,255,0.3);
	color: black;
	border: none;
	padding: 0px;
	position: fixed;
}

.openbtn:hover {
	background-color:  rgba(255,255,255,0.9);
}

#main {
	transition: margin-left .5s;
	padding-left: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
	padding-top: 4px;
	}
	.sidebar a {
	font-size: 14px;
	}
}

hr.sidemenu {
	margin-top: 24px;
	margin-bottom: 24px;
}
