.preces p.partV:before { content: '\2014\00a0'; color: #FF3333; font-weight: normal; }
.psalm p.last:after { content: '\00a0\2014'; color: #FF3333; font-weight: normal; }

/* new 2013-06-19 */
.psalm .psalm-name .psalm-subtitle { color: #FF3333; }
.psalm .psalm-idea { color: #CCCCCC; }

/* new 2013-06.16 / updated 2013-06-19 and 2013-06-24 */
sup { color: #FF3333; }

p.last:after { color: #FF3333; }

/* new 2013-05-19 */
.hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { color: #FF3333; }

/* override color settings for "night-mode" (inverted colors) */
.red { color: #FF3333; }
.redit { color: #FF3333; font-style: italic; }
.redsmall { color: #FF3333; }
.redbold { color: #FF3333; }
.bold { color: #FFFFCC; }
.boldit { color: #FFFFCC; }
.normal { color: #CCCCCC; }
.parameter { font-family: Monospace; color: #CCCCCC; }
.value { font-family: Monospace; color: yellow; }
.explain { font-size: 90%; color: gray; }

body, html { 
	background-color: #333333;
	color: #CCCCCC;
}
p { color: #CCCCCC; }

h1, h2, h3 { color: #FFFFCC; }

a { color: #CCCCCC; }
a:hover { color: white; background-color: #CC9966; } /* #ff6633; */
a:active { color: gray; }
a.explain { color: #330000; }
a.button { 
	background: #CC9966; /* #ff9933; #ffcc66; Tan; Peru; BurlyWood; */
	color: #333333; 
	border: solid 0px #CCCCCC; }

table { color: #CCCCCC; }
td { color: #CCCCCC; }

hr { color: gray; }

select { background: #333333; color: #CCCCCC; }

input { color: #CCCCCC; }

/* modlitby */
input.button, input.reset { 
	background: #CC9966; /* #ff9933; #ffcc66; Tan; Peru; BurlyWood; */
	color: #333333; 
	border: solid 0px #CCCCCC; }

/* << >> */
input.button0, input.reset0 { 
	background: #C0C0C0; /* #3366CC; #3399ff; */
	color: #404040;
	border: solid 0px #A0A0A0; }

/* dnes */
input.button1, input.reset1 { 
	background: #C0C0C0; /* #3366CC; #3399ff; */
	color: #404040;
	border: solid 0px #A0A0A0; }

/* menej podstatné buttony */
input.button2, input.reset2 { 
	background: #CC9966; /* #ff9933; */
	color: #333333;
	border: solid 0px #CCCCCC; }

input.text { background: #333333; }

