/* new 2013.05.19 */
.hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { color: #ff0000; font-size: 80%; }
.antiphon { font-weight: bold; margin-top: 1em; margin-bottom: 1em; }


/* new 2013.04.18 */
#psalm .psalm-title {text-align: center; font-weight: bold; color: red; font-size: larger}
#psalm .psalm-subtitle {text-align: center; color: red;}

/* new 2013.04.02 */
#week-day .day-title {font-weight: bold; font-size: larger; text-align: center;}
.evening-praise > .title, .daytime-praise > .title, .morning-praise > .title, .ending-praise > .title, .invit-praise > .title, .reading-praise > .title  {text-align:  center; /*font-weight: bold;*/ margin-top: 20px;}  
#week-day .title {font-weight: bold; margin-top: 16px;}
#week-day br {clear: both; display: block; height: 1px;}
div.biblereference {color: red; text-align: right;}
.daytime-praise .time {text-align: center; margin-top: 10px; text-decoration: underline}
/* replace 2013.02.17 */ 
.indent {width: 20px; display:inline; float: left; height: 1em}
.indent15 {width: 15px; display:inline; float: left; height: 1em}

/* apply to all elements, used for <span> (character style) and <div> (paragraph style), 2005-07-27 */
.red { color: #ff0000; }
.redit { color: #ff0000; font-style: italic; }
.blue { color: #0066ff; }
.redsmall { color: #ff0000; font-size: 80%; }
.redbold { color: #ff0000; font-weight: bold; }
.bluebold { color: #0066ff; font-weight: bold; }
.bold { font-weight: bold; }
.boldit { font-weight: bold; font-style: italic; }
.it { font-style: italic; }
.normal { color: #000000; }
.tt { font-family: Monospace; }
.parameter { font-weight: bold; font-style: normal; font-family: Monospace; color: black; }
.value { font-weight: bold; font-style: normal; font-family: Monospace; color: brown; }
.brown { color: brown; }
.brownsmall { font-size: 85%; color: brown; }
.explain { font-size: 90%; color: #330000; }
.small { font-size: 80%; }
.verysmall { font-size: 60%; }
.smallcaps { font-variant: small-caps; }
.xsmallcaps { font-variant: small-caps; font-size: 70%; }

/* 2003-07-09; 2004-03-23; 2008-02-27 */
/* apply to all elements */ { font-family: inherit; font-size: 100%; }
body, html { 
	background-color: #FFFFCC;
	color: #000000;
	font-family: Cambria, Constantia, Georgia, Lido STF, DejaVu, Liberation, GentiumPlus, Gentium, Garamond, Serif;
}
p { font-family: inherit; color: #000000; font-style: normal; }


.duoraz { 
	font-weight: bold; }

p.patka { 
	font-size: 80%; 
	text-align: center; 
	text-indent: 0em;  
	margin-top: -1mm; 
	letter-spacing: 0mm }

/* inherit nefunguje v IE 7 */
a.quiet { text-decoration:none; color: inherit; }
a.quiet:link { text-decoration:none; color: inherit; }
a.quiet:hover { text-decoration:none; color: inherit; }
a.quiet:visited { text-decoration:none; color: inherit; }
a.quiet:active { text-decoration:none; color: inherit; }

a { font-family: inherit; color: #000000; text-decoration: underline; }
a:hover { color: white; background-color: #663300; text-decoration:none; }
a:active { color: gray; text-decoration: underline; }
a img { border: none }
a.explain { color: #330000; font-size: 100%; }
a.nounderline { text-decoration:none; }
a.button { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #ffcc99; /* #ffcc66; Tan; Peru; BurlyWood; */
	font-family: inherit; 
	font-size : 90%; 
	font-style: normal;
	text-decoration: none; 
	color: #000000; 
	border: solid 0px #000000; }

table { color: #505000; }
tr.paragraph { text-indent: 3em; line-height: 120%; }
td { font-family: inherit; font-size: 95%; color: #000000}

hr {	height: 0.2mm;
	size: 1px;
	width: 33%; 
	color: gray; }

select { background: white; font-family: inherit; font-size : 95%; color: #000000}

input { border: 1px; font-family: inherit; font-size : 95%; color: #000000; }

/* modlitby */
input.button, input.reset { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #ffcc99; /* #ffcc66; Tan; Peru; BurlyWood; */
	font-family: inherit; 
	font-size : 90%; 
	font-style: normal;
	text-decoration: none; 
	color: #000000; 
	border: solid 0px #000000; }

/* << >> */
input.button0, input.reset0 { 
	cursor: pointer;
	margin-left: 0px!important;
	background: DimGray;
	font-family: inherit; 
	font-size : 85%; 
	font-style: normal;
	text-decoration: none; 
	color: White; 
	border: solid 0px #000000; }

/* dnes */
input.button1, input.reset1 { 
	cursor: pointer;
	margin-left: 0px!important;
	background: DimGray;
	font-family: inherit; 
	font-size : 85%; 
	font-style: normal;
	font-weight: bold;
	font-variant: none;
	text-decoration: none; 
	color: White;
	border: solid 0px #000000; }

/* menej podstatné buttony */
input.button2, input.reset2 { 
	cursor: pointer;
	margin-left: 0px!important;
	background: #cccc99;
	font-family: inherit; 
	font-size : 90%; 
	font-style: italic;
	text-decoration: none; 
	color: #000000; 
	border: solid 0px #000000; }

input.text { border-style: solid; background: white; }

input.radio { }
input.checkbox { }

ol.level1 { list-style-type: decimal; }
ol.level2 { list-style-type: lower-roman; }
ol.level3 { list-style-type: decimal; }
ul.level0 { list-style-type: none; }
ul.level1 { list-style-type: disc; }
ul.level2 { list-style-type: circle; }
ul.level3 { list-style-type: square; }

li { font-size: 95%; }

h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 100%; }
h4 { font-size: 100%; }

sup {
	vertical-align: baseline;
	font-size: 0.7em;
	position: relative;
	top: -0.4em;
}
