<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>id</key>
			<string>appearance</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<string>prayerFont</string>
					<key>type</key>
					<string>font</string>
					<key>inPrayerQuery</key>
					<false/>
					<key>default</key>
					<dict>
						<key>family</key>
						<string>HelveticaNeue</string>
						<key>size</key>
						<integer>14</integer>
					</dict>
				</dict>
				<dict>
					<key>id</key>
					<string>j</string>
					<key>type</key>
					<string>stringOption</string>
					<key>default</key>
					<string>sk</string>
					<key>options</key>
					<array>
						<string>cz</string>
						<string>hu</string>
						<string>sk</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>common_parts</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<string>of1c</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1s</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1r</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1o</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1t</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1pr</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>prayer_text</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<string>of0v</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of0cit</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>calendar</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<string>of0zjvne</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of0nanne</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of0tkne</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>other</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<string>of3</string>
					<key>type</key>
					<string>stringOption</string>
					<key>default</key>
					<string>0</string>
					<key>options</key>
					<array>
						<string>0</string>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
						<string>7</string>
						<string>8</string>
						<string>9</string>
						<string>10</string>
						<string>11</string>
						<string>12</string>
						<string>13</string>
						<string>14</string>
						<string>15</string>
						<string>16</string>
						<string>17</string>
						<string>18</string>
						<string>19</string>
						<string>20</string>
						<string>21</string>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>of1zspc</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1spspc</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1sp</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1dps</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1z95</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1prz</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1vkp</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1ps3</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of1v</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>of2a</string>
					<key>type</key>
					<string>bool</string>
					<key>default</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
