<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sk.breviar.android"
      android:versionCode="86"
      android:versionName="2.0.2"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26"/>
    <supports-screens android:xlargeScreens="true"/>
    <application android:label="@string/app_name"
                 android:name="sk.breviar.android.BreviarApp"
                 android:theme="@style/BreviarTheme"
                 android:icon="@drawable/icon">
        <activity android:name="Breviar"
                  android:configChanges="orientation|screenSize"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="sk.breviar.android.action.SHOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="Alarms"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.breviar.android.Breviar" />
            <intent-filter>
                <action android:name="sk.breviar.android.ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="LangSelect"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="sk.breviar.android.Breviar" />
        </activity>

        <activity android:name="MainSettings"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="sk.breviar.android.Breviar" />
        </activity>
        <activity android:name="DeviceSettings"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="sk.breviar.android.MainSettings" />
        </activity>
        <activity android:name="PrayerSettings"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="sk.breviar.android.MainSettings" />
        </activity>
        <activity android:name="DisplaySettings"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="sk.breviar.android.MainSettings" />
        </activity>
        <activity android:name="CalendarSettings"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="sk.breviar.android.Breviar"
                  android:launchMode="singleTop">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="sk.breviar.android.MainSettings" />
        </activity>

        <activity android:name="DialogActivity"
                  android:configChanges="orientation|screenSize"
                  android:launchMode="singleTop">
        </activity>
        <receiver android:name="AlarmReceiver" >
            <intent-filter>
              <action android:name="sk.breviar.android.NOTIFY"></action>
            </intent-filter>
            <intent-filter>
              <action android:name="android.intent.action.PACKAGE_REPLACED"></action>
              <action android:name="android.intent.action.PACKAGE_ADDED"></action>
              <data android:scheme="package" android:path="sk.breviar.android"></data>
            </intent-filter>
            <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"></uses-permission>
</manifest> 
