/* apply to all elements, used for <span> (character style) and <div> (paragraph style), 2005-07-27 */
.red { color: #ff0000; }
.blue { color: #0066ff; }
.redsmall { color: #ff0000; font-size: 80%; }
.redbold { color: #ff0000; font-weight: bold; }
.bluebold { color: #0066ff; font-weight: bold; }
.bold { font-weight: bold; }
.boldit { font-weight: bold; font-style: italic; }
.it { font-style: italic; }
.normal { color: #000000; }
.tt { font-family: Courier, Monospace; }
.parameter { font-weight: bold; font-style: normal; font-family: Courier, Monospace; color: black; }
.value { font-weight: bold; font-style: normal; font-family: Courier, Monospace; color: brown; }
.explain { font-size: 90%; color: #330000; }
.small { font-size: 90%; }

/* 2003-07-09; 2004-03-23; 2008-02-27 */
/* apply to all elements */ { font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; font-size: 100%; }
body, html { 
	background-color: #FFFFCC; 
	color: #000000; 
	font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; 
}
p { font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; color: #000000; font-style: normal; }


.duoraz { 
	font-weight: bold; }

p.patka { 
	font-size: 80%; 
	text-align: center; 
	text-indent: 0em;  
	margin-top: -1mm; 
	letter-spacing: 0mm }

a { font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; color: #000000; text-decoration: underline; }
a:hover { color: white; background-color: #663300; text-decoration:none; }
a:active { color: gray; text-decoration: underline; }
a img { border: none }
a.explain { color: #330000; font-size: 100%; }
a.nounderline { text-decoration:none; }

table { color: #505000; }
tr.paragraph { text-indent: 3em; line-height: 120%; }
td { font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; font-size: 95%; color: #000000}

hr {	height: 0.2mm;
	size: 1px;
	width: 33%; 
	color: gray; }

select { background: white; font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; font-size : 95%; color: #000000}

input { border: 1px; font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; font-size : 95%; color: #000000; }

input.button, input.reset { 
	margin-left: 0px!important;
	background: url(/pozadie.tlac.gif); 
	font-family: Cambria, Verdana, Tahoma, Georgia, Sans-Serif; 
	font-size : 90%; 
	text-decoration:none; 
	color: #000000; 
	border: solid 0px #226500; }

input.text { border-style: solid; background: white; }

input.radio { }
input.checkbox { }

ol.level1 { list-style-type: decimal; }
ol.level2 { list-style-type: lower-roman; }
ol.level3 { list-style-type: decimal; }
ul.level0 { list-style-type: none; }
ul.level1 { list-style-type: disc; }
ul.level2 { list-style-type: circle; }
ul.level3 { list-style-type: square; }

li { font-size: 95%; }

h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 100%; }
h4 { font-size: 100%; }
