.appeal {
	font-weight: normal;
}

/* 2013-12-13 class .antiphon for antihpons */
/* for HU/CZ first/second/third-ant is used; for SK ant-first/second/third is used */
.antiphon.first-ant:before {
    color: #ff0000;
    content: '1. ant. ';
    font-weight: normal;
}

.antiphon.second-ant:before {
    color: #ff0000;
    content: '2. ant. ';
    font-weight: normal;
}

.antiphon.third-ant:before {
    color: #ff0000;
    content: '3. ant. ';
    font-weight: normal;
}

.antiphon.ant:before {
    color: #ff0000;
    content: 'Ant. ';
    font-weight: normal;
}

.antiphon.ant-first:before {
    color: #ff0000;
    content: 'Ant. 1 ';
    font-weight: normal;
}

.antiphon.ant-second:before {
    color: #ff0000;
    content: 'Ant. 2 ';
    font-weight: normal;
}

.antiphon.ant-third:before {
    color: #ff0000;
    content: 'Ant. 3 ';
    font-weight: normal;
}

/* 2013-11-03 class .respons for responsories */
.respons p { 
	font-weight: normal; 
}

.preces, .appeal { 
	font-weight: normal; 
}

.respons p.respR, .respons p.respV, .respons p.respO, .respons p.respF, p.respR, p.respV, p.respO, p.respF, .respR, .respV, .respO, .respF { 
	font-weight: normal; 
}

/* for SK & LA, R/V is used; for CZ, O/V is used; for HU, V/F is used */
.respons p.respR:before, .respR:before { 
	color: #ff0000; 
	content: 'R. '; 
	font-weight: normal; 
}

.respons p.respV:before, .respV:before { 
	color: #ff0000; 
	content: 'V. '; 
	font-weight: normal; 
}

.respons p.respO:before, .respO:before { 
	color: #ff0000; 
	content: 'O. '; 
	font-weight: normal; 
}

.respons p.respF:before, .respF:before { 
	color: #ff0000; 
	content: 'F. '; 
	font-weight: normal; 
}

/* 2013-10-21 */
div.hymn, div.responsory, div.readings {
    font-weight: normal;
}

/* 2013-09-19 class for calendar */
.calendar.heading { 
	font-weight: normal; 
}

.preces p.partR, p.partV, p.intro { 
	font-weight: normal; 
}

.reading p { 
	font-weight: normal; 
}

/* 2014-06-02 class .hymn according to psalm */
.hymn p { 
	font-weight: normal; 
}

/* 2013-09-02 #psalm changed to class .psalm; instead of black color used #1a1a1a; */
/* new 2013-06-19 */
.psalm .psalm-name { 
	font-weight: normal; 
}

/* new 2013-06.16 / updated 2013-06-19 and 2013-06-24 */
.psalm p.bold, .psalm p.strong { 
	font-weight: normal; 
}

.psalm p.verse { 
	font-weight: normal; 
}

.antiphon { 
	font-weight: normal; 
}

.antiphon.first-ant:before {
	font-weight: normal;
}

.antiphon.second-ant:before {
	font-weight: normal;
}

.antiphon.third-ant:before {
	font-weight: normal;
}

.antiphon.ant:before {
	font-weight: normal;
}

/* new 2013-04-18 */
/* updated 2013-10-21 font-size:larger; -> font-size:normal; */
.psalm .psalm-title { 
	font-weight: normal; 
}

/* new 2013-04-02 */
#week-day .day-title { 
	font-weight: normal; 
}

#week-day .title { 
	font-weight: normal; 
}

.redbold { 
	font-weight: normal; 
}

.bluebold { 
	font-weight: normal; 
}

.bold { 
	font-weight: normal; 
}

.boldit { 
	font-weight: normal; 
}

.par { 
	font-weight: normal; 
}

.parameter { 
	font-weight: normal; 
}

.strong { 
	font-weight: normal; 
}

.value { 
	font-weight: normal; 
}

.duoraz { 
	font-weight: normal; 
}

/* dnes */
input.button1, input.reset1, .button1 { 
	font-weight: normal;
}

/* apply to all elements */
b { 
	font-weight: normal !important; 
}

strong { 
	font-weight: normal !important; 
}

body { 
	font-weight: normal !important; 
}

h1 { 
	font-weight: normal;
}

h2 { 
	font-weight: normal;
}

h3 { 
	font-weight: normal;
}

h4 { 
	font-weight: normal;
}

