/* background color overrides for "day-mode" (normal colors) */

body, html { 
	background-color: #FFFFFF;
}

select { 
	background: #FFFFFF;
}

input.text { 
	background: #FFFFFF;
}

input.button, input.reset, .button, a.button { 
	background: #E2CECD; /* banner header light */
}

.button-prayer, input.button-prayer { 
	background: #E2CECD; /* banner header light */
}

input.button0, input.reset0, .button0 { 
	background: #8B3C39; /* banner backgroud */
	color: #CCCCCC; 
}

input.button1, input.reset1, .button1 { 
	background: #8B3C39; /* banner backgroud */
	color: #CCCCCC; 
}

input.button2, input.reset2, .button2 { 
	background: #B78484; /* banner backgroud vs. header light */
}
