/* override color settings for "night-mode" (inverted colors) */

.antiphon.first-ant:before {
	color: #FF3333;
}

.antiphon.second-ant:before {
	color: #FF3333;
}

.antiphon.third-ant:before {
	color: #FF3333;
}

.antiphon.ant:before {
	color: #FF3333;
}

.antiphon.ant-first:before {
	color: #FF3333;
}

.antiphon.ant-second:before {
	color: #FF3333;
}

.antiphon.ant-third:before {
	color: #FF3333;
}

.respons p.respR:before, .respR:before { 
	color: #FF3333;
}

.respons p.respV:before, .respV:before { 
	color: #FF3333;
}

.respons p.respO:before, .respO:before { 
	color: #FF3333;
}

.respons p.respF:before, .respF:before { 
	color: #FF3333;
}

.reading-source { 
	color: #FF3333;
}

.reading-title { 
	color: #FF3333;
}

.calendar.day {
	background-color: #7A3E3B; /* button dark */
	color: #AAAAAA; 
}

.calendar.day:hover {
	background-color: #C39482; /* button middle-dark */
	color: #FFFFCC; 
}

.calendar.today { 
	background-color: #CCCCCC; 
	color: #191919; /* #333333; */
}

.preces p.resprep:before { 
	color: #FF3333;
}

.preces p.resprep:after { 
	color: #FF3333;
}

.preces p.partV:before { 
	color: #FF3333;
}

.preces p.vel { 
	color: #FF3333;
}

.reading p.resp {
	color: #FF3333;
}

.hymn p.rubric, .hymn p.rubric-always-display { 
	color: #FF3333;
}

.psalm .psalm-name { 
	color: #FF3333;
}

.psalm .psalm-idea { 
	color: #CCCCCC; 
}

.psalm .psalm-title { 
	color: #FF3333;
}

.psalm .psalm-subtitle { 
	color: #FF3333;
}

.psalm .titlehu {
	color: #FF3333;
}

.psalm p.last:after { 
	color: #FF3333;
}

p.title, .hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { 
	color: #FF3333;
}

p.bibleref {
	color: #FF3333;
}

.red, .redtitle { 
	color: #FF3333;
}

.rubric, .rubric-always-display { 
	color: #FF3333;
}

.rednormal { 
	color: #FF3333;
}

.redit { 
	color: #FF3333;
}

.redsmall, .redsubtitle { 
	color: #FF3333;
}

.redbold { 
	color: #FF3333;
}

.normal { 
	color: #CCCCCC; 
}

.parameter { 
	color: #CCCCCC; 
}

.value { 
	color: yellow; 
}

.explain { 
	color: gray; 
}

body, html { 
	background-color: #000;
	color: #CCCCCC;
}

p { 
	color: #CCCCCC; 
}

h1, h2, h3 { 
	color: #FFFFCC; 
}

a { 
	color: #CCCCCC; 
}

a:active { 
	color: gray; 
}

a.explain { 
	color: gray; 
}

table { 
	color: #CCCCCC; 
}

td { 
	color: #CCCCCC; 
}

hr { 
	color: gray; 
}

select { 
	background-color: #000;
	color: #CCCCCC; 
}

input { 
	color: #CCCCCC; 
}

input.button, input.reset, .button, a.button, .button-prayer, input.button-prayer { 
	background-color: #7A3E3B; /* button dark */
	border: solid 0px #CCCCCC; 
	color: #AAAAAA; 
}

input.button2, input.reset2, .button2 { 
	background-color: #612821; /* button darker */
	border: solid 0px #CCCCCC; 
	color: #A0A0A0;
}

input.button0, input.reset0, .button0, input.button1, input.reset1, .button1 { 
	background-color: #441513; /* button darkest */
	border: solid 0px #A0A0A0; 
	color: #A0A0A0;
}

input.text { 
	background-color: #000;
}

input.radio:before {
	background-color: #7A3E3B; /* button dark */
}

input.radio:checked:before {
	background-color: #DDDDDD;
	box-shadow: inset 0 0 0 5px #7A3E3B; /* button dark */
}

input.checkbox {
	background-color: #612821; /* button darker */
}

input.checkbox:checked {
	background-color: #C39482; /* button middle-dark */
}

input.checkbox:after {
	background-color: #DDDDDD; 
}

sup { 
	color: #FF3333;
}

#nav-arrow-down {
  background-image: url('sipkadole-night.png');
}

#nav-arrow-up {
  background-image: url('sipkahore-night.png');
}
