/* blind-friendly version: in general, hide all red texts (rubrics) */

/* this only element is missing in other CSS */
.rubric-text { 
	display: none;
}

.antiphon.first-ant:before {
    display: none;
}

.antiphon.second-ant:before {
    display: none;
}

.antiphon.third-ant:before {
    display: none;
}

.antiphon.ant:before {
    display: none;
}

.antiphon.ant-first:before {
    display: none;
}

.antiphon.ant-second:before {
    display: none;
}

.antiphon.ant-third:before {
    display: none;
}

.respons p.respR:before, .respR:before { 
	display: none;
}

.respons p.respV:before, .respV:before { 
	display: none;
}

.respons p.respO:before, .respO:before { 
	display: none;
}

.respons p.respF:before, .respF:before { 
	display: none;
}

.reading-source { 
	display: none;
}

.reading-title { 
	display: none;
}

.preces p.partV:before { 
	display: none;
}

.preces p.vel { 
	display: none;
}

.reading p.resp {
	display: none;
}

.reading p.footnotes { 
	display: none;
}

.hymn p.rubric { 
	display: none;
}

.hymn p.rubric-always-display { 
	/* must be displayed */
}

.psalm .psalm-name { 
	display: none;
}

.psalm .psalm-idea { 
	display: none;
}

.psalm .psalm-title { 
	display: none;
}

.psalm .psalm-subtitle { 
	display: none;
}

.psalm .titlehu {
	display: none;
}

.psalm p.last:after { 
	display: none;
}

p.title, .hymn .title, .psalm .title, .readings .title , .responsory .title, .canticle .title, .prayers .title, .appeal .title , .tedeum .title { 
	display: none;
}

p.bibleref {
	display: none;
}

.daytime-praise .time { 
	margin-top: 10px; 
	text-align: center; 
	text-decoration: underline; 
}

#about h3 {
    font-weight: bold;
    font-size: 1.2em;
}

#about b {
    font-weight: bold !important;
}

.indent { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 20px; 
}

.indent15 { 
	display: inline; 
	float: left; 
	height: 1em; 
	width: 15px; 
}

.red { 
	display: none;
}

.redtitle {
	/* must be displayed */
}

.rubric { 
	display: none;
}

.rubric-always-display { 
	/* must be displayed */
}

.rednormal { 
	display: none;
}

.redit { 
	display: none;
}

.redsmall { 
	display: none;
}

.redsubtitle {
	/* must be displayed */
}

.redbold { 
	display: none;
}

sup { 
	display: none;
}

